.key {
  border: solid black;
  background-color: blanchedalmond;
  height: 150px;
}

.keys {
  margin-top: 200px;
  margin-bottom: auto;
}
body {
  background-image: url(./images/pic.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-color: black; */
}
